<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>CodeJam2020</title>

</head>

<body>
  <form class="md-form" action="/uploader" method="POST" enctype="multipart/form-data">
    <div class="frame">
      <div class="center">
        <div class="title">
          <h1 id="fileName">Upload file!</h1>
        </div>
        <div class="btn btn-primary btn-sm float-center">
          <label>
            <span id="inputSpan">Choose file</span>
            <input id="inputFile" type="file" name="file">
          </label>

        </div>
        <button  id="submitBtn" type="submit" class="btn btn-primary" onclick="activateSpinner()">
          Submit
        </button>
      </div>
    </div>
  </form>


</body>
</html>
